.navbar {
    background: #6c7c69;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    float: right;
    width: 100%;
    margin: none;
    letter-spacing: 3px;
    transition: width 3s, height 4s;
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 25px;
  }
.navbar li:hover {
    transform: scale(1.2, 1.2);
    border-left: solid 1px;

  }
  .navbar ul {
    font-size: 17px;   
    text-align: center;
    margin: none;
    padding-top: 4px;
  }
  
  .navbar li {
    display: inline-block;
    padding: 0.7rem;
    margin: none;
  }
  .cartshopping{
    width: 30px;
}
  .cartshopping:hover{
    transform: scale(1.3, 1.3);
  }